* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.flex {
  display: flex;
}
#header {
  justify-content: space-between;
  background-color: rgb(70, 70, 70);
  height: 93px;
  padding: 13px;
}
#logo {
  height: 70px;
  border-radius: 10px;
}
#no-deco {
  text-decoration: none;
}
#nav {
  position: absolute;
  top: 93px;
  width: 200px;
  height: 85.3%;
  background-color: rgb(151, 151, 151);
}
#admin-nav {
  position: absolute;
  right: 0;
  top: 93px;
  width: 250px;
  height: 85.3%;
  background-color: rgb(151, 151, 151);
}
.btn {
  margin: 10px;
  width: 100px;
  height: 50px;
  background-color: rgb(151, 151, 151);
  border-radius: 5px;
  color: #fff;
  border: none;
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
  border: 1px solid #fff;
  color: rgb(151, 151, 151);
  background-color: rgb(70, 70, 70);
}
#content {
  margin-left: 200px;
  height: 540px;
  background-color: rgb(110, 110, 110);
}
.nav-elements {
  /* margin: 10px 0; */
  padding: 10px;
  font-weight: bold;
  font-size: 130%;
}
.nav-elements:hover {
  background-color: #fff;
  cursor: pointer;
}

/* Login component style */

#login-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 30%;
  height: 60%;
  background-color: #fff;
  border-radius: 10px;
}
.label {
  text-align: center;
}
.login-form {
  padding: 50px 50px;
  font-size: 120%;
}
.long-btn {
  height: 40px;
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(151, 151, 151);
  border-radius: 5px;
  color: #fff;
  border: none;
  font-weight: bold;
}
.long-btn:hover {
  cursor: pointer;
  color: rgb(151, 151, 151);
  background-color: rgb(70, 70, 70);
}
#forgot-pass {
  text-align: center;
  color: rgb(151, 151, 151);
  margin: 20px;
  font-size: 9pt;
}
#forgot-pass:hover {
  cursor: pointer;
  color: rgb(70, 70, 70);
}
.error {
  color: red;
  text-align: center;
}

/* signup page style */

#signup-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 30%;
  height: 76%;
  border-radius: 10px;
  background-color: #fff;
}
.signup-form {
  padding: 15px 55px;
}
#gender-option {
  font-size: 10pt;
}
/* search */
#search-container {
  position: absolute;
  top: 20%;
  left: 32%;
  background-color: #fff;
  height: 60%;
  width: 40%;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.input-field {
  padding: 20px;
  height: 50px;
  width: 300px;
  margin-left: 50px;
}
/* services-component */
#services-container {
  position: absolute;
  top: 20%;
  left: 31%;
  background-color: #fff;
  height: 60%;
  width: 40%;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.services-list {
  justify-content: space-between;
  padding: 20px;
}
#add-service-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  height: 70%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
.input {
  margin: 10px 0;
  height: 40px;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid rgb(151, 151, 151);
}
.input:focus {
  outline: none;
  border: 1.5px solid rgb(70, 70, 70);
}
#service-description {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid rgb(151, 151, 151);
}
#service-description:focus {
  outline: none;
  border: 1.5px solid rgb(70, 70, 70);
}
/* Branches component */
#branches-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  height: 70%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
#add-branch-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  height: 40%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
/* departments component */

#departments-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  height: 70%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}
#add-department-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  height: 30%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
/* role component */
#add-role-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  height: 49%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
/* equipments component */

#equipments-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  height: 70%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}
#add-equipment-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  height: 39%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
