* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: right;
}
.flex {
  display: flex;
}
#header {
  justify-content: space-between;
  background-color: rgb(70, 70, 70);
  height: 93px;
  padding: 13px 0 13px 23px;
}
#logo {
  height: 70px;
  border-radius: 10px;
}
#no-deco {
  text-decoration: none;
}
#counter-auth {
  position: absolute;
  right: 0;
  visibility: hidden;
}
#nav {
  position: absolute;
  top: 93px;
  width: 235px;
  height: 85.3%;
  background-color: rgb(151, 151, 151);
  visibility: hidden;
}
#admin-nav {
  position: absolute;
  right: 0;
  top: 93px;
  width: 235px;
  height: 85.3%;
  background-color: rgb(151, 151, 151);
  visibility: hidden;
}
.btn {
  margin: 10px;
  width: 100px;
  height: 50px;
  background-color: rgb(151, 151, 151);
  border-radius: 5px;
  color: #fff;
  border: none;
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
  border: 1px solid #fff;
  color: rgb(151, 151, 151);
  background-color: rgb(70, 70, 70);
}
.btn:active {
  color: #fff;
  background-color: rgb(110, 110, 110);
}
#content {
  height: 540px;
  background-color: rgba(110, 110, 110, 0.7);
}
.nav-elements {
  padding: 10px;
  font-weight: bold;
  width: 235px;
  background-color: rgb(151, 151, 151);
  border: none;
  font-size: 130%;
  border-bottom: 2px solid rgb(70, 70, 70);
}
.nav-elements:hover {
  background-color: rgb(70, 70, 70);
  color: #fff;
  cursor: pointer;
}
.nav-elements:focus {
  background-color: #000;
  color: #fff;
}
.label {
  text-align: center;
}
.long-btn {
  height: 40px;
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(151, 151, 151);
  border-radius: 5px;
  color: #fff;
  border: none;
  font-weight: bold;
}
.long-btn:hover {
  cursor: pointer;
  color: rgb(151, 151, 151);
  background-color: rgb(70, 70, 70);
}
.long-btn:active {
  color: #fff;
  background-color: rgb(110, 110, 110);
}
.radio-option {
  font-size: 10pt;
}
.input {
  margin: 10px 0;
  height: 40px;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid rgb(151, 151, 151);
}
.input:focus {
  outline: none;
  border: 1.5px solid rgb(70, 70, 70);
}
.textarea {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid rgb(151, 151, 151);
}
.textarea:focus {
  outline: none;
  border: 1.5px solid rgb(70, 70, 70);
}

.scroll-container {
  position: absolute;
  top: 20%;
  left: 31%;
  background-color: #fff;
  width: 35%;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.scroll-items {
  display: flex;
  overflow-x: scroll;
}
.scroll-item {
  padding: 8px;
  width: 200px;
  height: 180px;
  margin: 10px;
  background-color: rgb(110, 110, 110);
  border-radius: 10px;
  border: 1px solid rgb(70, 70, 70);
}
.update-label {
  font-size: 10pt;
}

/* Login component style */

#login-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 28%;
  background-color: #fff;
  border-radius: 10px;
}
.login-form {
  padding: 30px 40px;
  font-size: 120%;
}
#forgot-pass {
  text-align: center;
  color: rgb(151, 151, 151);
  margin: 20px;
  font-size: 9pt;
}
#forgot-pass:hover {
  cursor: pointer;
  color: rgb(70, 70, 70);
}
/* signup page style */

#signup-container {
  position: absolute;
  top: 16%;
  left: 35%;
  width: 30%;
  border-radius: 10px;
  background-color: #fff;
}
.signup-form {
  padding: 15px 55px;
}
/* search */
#search-container {
  position: absolute;
  top: 17%;
  left: 32%;
  background-color: #fff;
  width: 35%;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.input-field {
  padding: 20px;
  height: 50px;
  width: 300px;
  margin-left: 50px;
}
/* services-component */
#add-service-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
/* Branches component */
#branches-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
#add-branch-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
/* departments component */

#departments-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}
#add-department-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
/* role component */
#add-role-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
/* equipments component */

#equipments-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}
#add-equipment-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
/* reports-container */
#reports-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}
#create-report-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}

/* appointments style */
#create-appointment-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 57px;
}
/* review style */
#reviews-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

#add-review-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  height: 53%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
.review-btn {
  margin-top: -7px;
}
/* payments style */
#make-payment-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}

/* announcements component */
#announcements-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
/* schedule visit */
#schedule-visit {
  visibility: hidden;
  height: 40px;
  width: 212px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(151, 151, 151);
  border-radius: 5px;
  color: rgb(70, 70, 70);
  border: none;
  font-weight: bold;
}
#schedule-visit:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}
#schedule-visit-container {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 29%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
}
